

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CryptoCore</title>
    <link href="~/images/symbollogo.png" rel="shortcut icon" type="image/x-icon" />
    <!-- load Google fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons%7CPlayfair+Display:400,400i,700%7CRoboto+Condensed:400,700" rel="stylesheet">
    <!-- Crypto Styles -->
    <link id="crypto-stylesheet" rel="stylesheet" href="~/Content/css/night-gold-orange.css">

    <!-- page specific CSS -->
</head>
<body class="mdc-typography pace-on mdc-theme--background crypro-theme-gradient">
    <div class="crypto-loader"></div>
    <div class="crypto-wrapper">
        <div class="crypto-sidenav">
            <nav class="crypto-navigation">
                <a href="index.html" class="crypto-navigation__logo">
                    <!-- Image element or even SVG can be used here -->
                    <img src="~/images/fulllogo.png" alt="Crypto" class="crypto-navigation__logo-image">


                    @*<svg height="40" viewBox="0 0 40 40" width="40" xmlns="http://www.w3.org/2000/svg">
                        <g fill-rule="nonzero" transform="translate(22 22)">
                            <path d="m0 3.64v14.26c9.44-.94 16.96-8.46 17.9-17.9h-14.26c-.62 1.7-1.94 3.02-3.64 3.64z" fill="var(--mdc-theme-primary-800)" />
                            <path d="m-22-2c0 10.38 7.9 18.9 18 19.9v-14.26c-2.32-.84-4-3.04-4-5.64s1.68-4.8 4-5.64v-14.26c-10.1 1-18 9.52-18 19.9z" fill="var(--mdc-theme-primary-200)" />
                            <path d="m3.64-4h14.26c-.94-9.44-8.46-16.96-17.9-17.9v14.26c1.7.62 3.02 1.94 3.64 3.64z" fill="var(--mdc-theme-primary-600)" />
                        </g>
                    </svg>*@

                </a>
                <ul class="crypto-navigation__list">

                    <li class="crypto-navigation__list-item mdc-ripple-surface crypto-navigation__list-item--active">
                        <a asp-controller="Home" asp-action="Index">
                            <i class="material-icons crypto-navigation__list-item__icon" aria-hidden="true">timeline</i>

                            <span class="crypto-navigation__list-item__label mdc-theme--on-surface mdc-typography--overline" asp-controller="Home" asp-action="Index">
                                Dashboard
                            </span>
                        </a>
                    </li>

                    <li class="crypto-navigation__list-item mdc-ripple-surface ">
                        <a asp-controller="Home" asp-action="UserWallet">
                            <i class="material-icons crypto-navigation__list-item__icon" aria-hidden="true">account_balance_wallet</i>

                            <span class="crypto-navigation__list-item__badge">2</span>

                            <span class="crypto-navigation__list-item__label mdc-theme--on-surface mdc-typography--overline">
                                Wallet
                            </span>
                        </a>
                    </li>

                    <li class="crypto-navigation__list-item mdc-ripple-surface ">
                        <a asp-controller="Home" asp-action="DisplaySearchInfo">
                            <i class="material-icons crypto-navigation__list-item__icon" aria-hidden="true">search</i>

                            <span class="crypto-navigation__list-item__label mdc-theme--on-surface mdc-typography--overline">
                                Search Crypto
                            </span>
                        </a>
                    </li>

                    <li class="crypto-navigation__list-item mdc-ripple-surface ">
                        <a href="profile.html">
                            <i class="material-icons crypto-navigation__list-item__icon" aria-hidden="true">person</i>

                            <span class="crypto-navigation__list-item__label mdc-theme--on-surface mdc-typography--overline">
                                Profile
                            </span>
                        </a>
                    </li>

                    <li class="crypto-navigation__list-item mdc-ripple-surface ">
                        <a asp-controller="Home" asp-action="GetAllCoinInfo">
                            <i class="material-icons crypto-navigation__list-item__icon" aria-hidden="true">category</i>

                            <span class="crypto-navigation__list-item__label mdc-theme--on-surface mdc-typography--overline">
                                Coins
                            </span>
                        </a>
                    </li>

                    <li class="crypto-navigation__list-item mdc-ripple-surface ">
                        <a href="login.html">
                            <i class="material-icons crypto-navigation__list-item__icon" aria-hidden="true">power_settings_new</i>

                            <span class="crypto-navigation__list-item__label mdc-theme--on-surface mdc-typography--overline">
                                Logout
                            </span>
                        </a>
                    </li>

                </ul>
            </nav>



        </div>
        <main class="crypto-main">

            <div class="crypto-main__content mdc-theme--text-primary-on-background">
                <div class="crypto-marquee__wrapper">
                    <div class="crypto-marquee marquee3k" data-speed="0.40" data-pausable="true">
                        <div class="marquee3k__wrapper">
                            <!-- start of ticker -->
                            @foreach (var coin in Model.AllInfo)
                            {

                            <div class="crypto-marquee__item">
                                <h3 class="crypto-marquee__item-logo">
                                    <!-- Image or SVG here -->

                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" class="crypto-marquee__item-logo-img">
                                        <g>
                                            <g>
                                                <mask fill="white">
                                                    <use xlink:href="#path-1"></use>
                                                </mask>
                                                <use fill-rule="nonzero" xlink:href="#path-2"></use>
                                            </g>
                                        </g>
                                    </g>

                                    <span>@coin.CoinSymbol.Replace("USDT", "")</span>
                                </h3>

                                @if (coin.PriceChangePercent > 0)
                                {
                                    <div class="crypto-marquee__item-percentage mdc-tab__crypto-stat-caption--trend-up">
                                        <i class="material-icons" style="color: green">trending_up</i>
                                        @coin.PriceChangePercent%
                                    </div>
                                }
                                else
                                {
                                    <div class="crypto-marquee__item-percentage mdc-tab__crypto-stat-caption--trend-down">
                                        <i class="material-icons">trending_down</i>
                                        @coin.PriceChangePercent%
                                    </div>

                                }
                                 @if (coin.PriceChangePercent > 0)
                                {
                                    <div class="crypto-marquee__item-value mdc-theme--primary">
                                        <small>$</small> @coin.Price
                                    </div>
                                    <div class="crypto-marquee__item-difference mdc-tab__crypto-stat-caption--trend-up"> @coin.PriceChange</div>
                                }
                                else
                                {
                                    <div class="crypto-marquee__item-value mdc-theme--primary">
                                    <small>$</small> @coin.Price
                                    </div>
                                    <div class="crypto-marquee__item-difference mdc-tab__crypto-stat-caption--trend-down"> @coin.PriceChange</div>
                                
                                }
                            </div>

                            }
                        </div>
                    </div>

                </div>
                @RenderBody()
            </div>
         
        </main>


  
       
        <div class="crypto-menu-switches">
            <div class="crypto-menu-switches--handle">
                <i class="material-icons">settings</i>
            </div>
            <!-- RTL switch -->
            <div class="switch-wrapper mdc-theme--on-primary">
                <div class="mdc-switch crypto-rtl-switch-selector">
                    <div class="mdc-switch__track"></div>
                    <div class="mdc-switch__thumb-underlay">
                        <div class="mdc-switch__thumb">
                            <input type="checkbox" id="rtl-switch" class="mdc-switch__native-control" role="switch" aria-checked="false">
                        </div>
                    </div>
                </div>
                <label for="rtl-switch">RTL</label>
            </div>
            <!-- theme switch -->
            <div class="switch-wrapper mdc-theme--on-primary">
                <div class="mdc-switch crypto-theme-switch-selector">
                    <div class="mdc-switch__track"></div>
                    <div class="mdc-switch__thumb-underlay">
                        <div class="mdc-switch__thumb">
                            <input type="checkbox" id="crypto-theme-switch" class="mdc-switch__native-control" role="switch" aria-checked="false">
                        </div>
                    </div>

                </div>
                <label for="crypto-theme-switch">Switch theme</label>
            </div>
        </div>

    </div>

    <script src="~/Content/js/material-components-web.min.js"></script>
    <script>mdc.autoInit()</script>
    <!-- initialise marquee js -->
    <script src="~/Content/js/marquee3k.js"></script>
    <script>Marquee3k.init()</script>
    <!-- layout js -->
    <script data-pace-options='{ "ajax": false, "restartOnRequestAfter": false }' src="~/Content/js/pace.min.js"></script>
    <script src="~/Content/js/apexcharts.min.js"></script>
    <!-- switcher js -->
    <script src="~/Content/js/partials/switcher.js"></script>
    <!-- page specific JS -->

    <script src="~/Content/js/pages/index.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
