@page
@model LoginModel

<ul>
<div class="crypro-login-container">
    <div class="col-md-6 ">
        <section>
            <form id="account" method="post">
                <h4 style="color:#FFCE61">SIGN IN</h4>
                <div asp-validation-summary="All" class="text-danger">
                    <div class="form-group  ">
                        <input asp-for="Input.Email" placeholder="Email" class="mdc-text-field__input" required/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.Password" placeholder="Password" class="mdc-text-field__input" required />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="mdc-form-field">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe" class="remember-me-checkbox">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary mdc-button mdc-button--unelevated big-round-corner-button">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
          
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div></ul>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
