@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CryptoCore.Models.ViewModels.ExpandedCoinViewModel      
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1" style="width:100%; display: flex; flex-direction: row; justify-content: space-between">
    <div class="mdc-list demo-list" style="flex-grow: 1; display: flex; flex-direction: column; justify-content: space-between; height: 100%">
        <h1 style="flex-grow: 3; color: #FFCE61">@Model.CoinSymbol</h1>
        <p> Price: $@Model.Price </p>
        <div> 24HR change:
         @if (@Model.PriceChangePercent > 0)
                    {
                        <div style="display: inline;" class="crypto-marquee__item-percentage mdc-tab__crypto-stat-caption--trend-up">
                            <i class="material-icons" style="color: green">trending_up</i>
                              @Model.PriceChangePercent%
                        </div>
                    }
                    else
                    {
                        <div style="display: inline;" class="crypto-marquee__item-percentage mdc-tab__crypto-stat-caption--trend-down">
                            <i class="material-icons">trending_down</i>
                             @Model.PriceChangePercent%
                    
                        </div>
                    }
        </div>
        @if (@Model.IsinWallet == true)
        {
            <form asp-controller="Home" asp-action="AddCoin" asp-route-symbol="@Model.CoinSymbol" asp-route-high="high" asp-route-low="low" style="display: flex; flex-direction: column; justify-content: space-between; align-items: center">
                <div class="mdc-list-item">
                    High <input placeholder="@Model.UserHigh" name="high" width="48" type="text" class="mdc-text-field__input" required>
                </div>
                <div class="mdc-list-item">
                    Low <input type="text" placeholder="@Model.UserLow" name="low" width="48" class="mdc-text-field__input" required>
                </div>
                <div style="justify-self: flex-end; margin-top: 4em">
                    <button class="mdc-button mdc-button--outlined">
                        Update
                    </button>
                </div>
                <div style="justify-self: flex-end">
                    <button type="button" onclick="location.href='@Url.Action("RemoveCoin", "Home", new {symbol = Model.CoinSymbol})'" class="mdc-button mdc-button--outlined">
                        Delete
                    </button>
                </div>
            </form>
        }
        else
        {
            <form asp-controller="Home" asp-action="AddCoin" asp-route-symbol="@Model.CoinSymbol" asp-route-high="high" asp-route-low="low" style="        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center
">
                <div class="mdc-list-item">
                    High <input placeholder="Please enter high" name="high" type="text" class="mdc-text-field__input" required>
                </div>
                <div class="mdc-list-item">
                    Low <input type="text" placeholder="Please enter low" name="low" class="mdc-text-field__input" required>
                </div>
                <div>
                    <button class="mdc-button mdc-button--outlined" style="margin-top: 4em">
                        Add
                    </button>
                </div>
            </form>
        }
    </div>

    <div class="row" style="flex-grow: 3;">
        <canvas class="my-4 h-25" id="lineChart" style="height: 300px; width: 100%;"></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript">
    var ctx = document.getElementById('lineChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['@Model.Lables.ElementAt(4)', '@Model.Lables.ElementAt(3)', '@Model.Lables.ElementAt(2)', '@Model.Lables.ElementAt(1)', '@Model.Lables.ElementAt(0)'],
            datasets: [{
                label: '@Model.CoinSymbol',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 206, 97)',
                data: [@Model.Data.ElementAt(4),@Model.Data.ElementAt(3),@Model.Data.ElementAt(2),@Model.Data.ElementAt(1), @Model.Data.ElementAt(0)],
                fill: false
            }]
        },
        options: {},
    })
</script>
<div>
@foreach(var post in @Model.RedditPosts)
{
    <ul>
    <li class="mdc-list-item">
        <a target="_blank" href="@post.PermaLink">@post.Title</a>
    </li>
    <li class="mdc-list-item">
        Found on r/@post.SubReddit      
    </li>
    </ul>
}                            
</div>

