@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CryptoCore.Models.ViewModels.ExpandedCoinViewModel

<div class="d-flex flex-column">
    <div class="d-flex flex-row justify-content-start">
        <div>
            <h1>@Model.CoinSymbol</h1>
            @if (Model.IsinWallet)
            {
                <form asp-controller="Home" asp-action="AddCoin" asp-route-symbol="@Model.CoinSymbol" asp-route-high="high" asp-route-low="low">
                    <input name="high" type="text" placeholder="@Model.UserHigh" class="mdc-text-field__input" required />
                    <input name="low" type="text" placeholder="@Model.UserLow" class="mdc-text-field__input" required />
                    <button class="mdc-button mdc-button--outlined" type="submit">
                        Update Coin Preferences
                    </button>
                    <button type="button" onclick="location.href='@Url.Action("RemoveCoin", "Home", new {symbol = Model.CoinSymbol})'" class="mdc-button mdc-button--outlined">
                        Delete
                    </button>
                </form>
            }
            else
            {
                <form asp-controller="Home" asp-action="AddCoin" asp-route-symbol="@Model.CoinSymbol" asp-route-high="high" asp-route-low="low">
                    <input name="high" type="text" placeholder="@Model.UserHigh" class="mdc-text-field__input" required />
                    <input name="low" type="text" placeholder="@Model.UserLow" class="mdc-text-field__input" required />
                    <button class="mdc-button mdc-button--outlined" type="submit">
                        Add Coin
                    </button>
                </form>
            }
        </div>
        <div>
            <canvas class="my-4 h-25" id="linechart" width="25px" height="25px"></canvas>
        </div>
    </div>
    <div>
        <ul>
            @foreach (var post in Model.RedditPosts)
            {
                <li><h4>@post.Title</h4></li>
                <li><h5>Found at r/@post.SubReddit</h5></li>
                <li><a href="@post.PermaLink">View More</a></li>
            }
        </ul>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript">
    var ctx = document.getElementById('lineChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['@Model.Lables.ElementAt(0)', '@Model.Lables.ElementAt(1)', '@Model.Lables.ElementAt(2)', '@Model.Lables.ElementAt(3)', '@Model.Lables.ElementAt(4)', '@Model.Lables.ElementAt(5)'],
            datasets: [{
                label: '@Model.CoinSymbol',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [@Model.Data.ElementAt(0),@Model.Data.ElementAt(1),@Model.Data.ElementAt(2),@Model.Data.ElementAt(3),@Model.Data.ElementAt(4),@Model.Data.ElementAt(5),],
                fill: false
            }]
        },
        options: {},
    })
</script>